.poker-container .deck {
  width: 110px;
  height: 150px;
  margin: 30px auto;
  box-shadow: 3px 3px 0 #999, -2px 0px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #999 !important;
}
.poker-container .player-hand,
.poker-container .casino {
  text-align: center;
  height: 150px;
  margin-top: 20px;
  position: relative;
}
.poker-container .player-hand .card,
.poker-container .casino .card {
  position: absolute;
}
.poker-container .card.anim {
  position: absolute;
  z-index: 10;
}
.poker-container .card {
  font-family: "Times New Roman", Times, serif;
}
.poker-container .deck span {
  display: block;
}
.poker-container .spades,
.poker-container .clubs {
  color: #000;
}
.poker-container .hearts,
.poker-container .diams {
  color: #f00;
}
.poker-container .pack .card.static {
  -webkit-animation: all 0.5s ease;
}
.poker-container .control {
  padding: 10px;
  color: #fff;
  margin: 20px 0 0;
  background: #000;
}
.poker-container .control-wrap {
  width: 370px;
  margin: 0 auto;
  padding: 15px;
}
.poker-container .bank {
  font-weight: bold;
  float: left;
  padding: 2px;
  margin: 0 10px 0 0;
}
.poker-container .bank span {
  display: inline-block;
  width: 36px;
  text-align: left;
  overflow: hidden;
}
.poker-container .bet {
  margin: 0 10px;
}
.poker-container .bet input {
  margin: 0 2px;
  background: black;
  border: 1px solid white;
  color: white;
  width: 50px;
  text-align: center;
}
.poker-container .wager {
  width: 155px;
  float: left;
  margin: 3px;
}
.poker-container .actions {
  width: 400px;
  display: flex;
}
.poker-container .actions .btn {
  margin: 0 5px;
}
.poker-container button:first-letter {
  text-decoration: underline;
}
.poker-container .speakballon {
  position: absolute;
  width: 200px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 999;
  opacity: 0.7;
  background: #fff;
}
.poker-container .casino-speak {
  top: 250px;
  left: 20%;
}
.poker-container .speakballon:before,
.poker-container .speakballon:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}
.poker-container .casino-speak:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  top: -10px;
  left: 20px;
}
.poker-container .casino-speak:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -8px;
  left: 22px;
}
.poker-container .player-speak {
  top: 250px;
  right: 20%;
}
.poker-container .player-speak:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ccc;
  bottom: -10px;
  right: 20px;
}
.poker-container .player-speak:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  bottom: -8px;
  right: 22px;
}
.poker-container .deal-btn {
  position: relative;
}
.poker-container .deal-btn .btn {
  padding-right: 30px;
}
.poker-container .deal-btn .autodeal {
  position: absolute;
  top: 4px;
  right: 14px;
}
.poker-container .face .mark:first-child {
  position: absolute;
  top: 1px;
  left: 1px;
}
.poker-container .face .mark:last-child {
  position: absolute;
  bottom: 1px;
  right: 1px;
  transform: rotate(180deg);
}
.poker-container .face .mark:last-child h2 {
  padding-left: 2px;
}
.poker-container h1,
.poker-container h2 {
  margin: 0;
  padding: 0;
  line-height: 0.9;
  width: 12px;
  text-align: center;
  text-transform: uppercase;
}
.poker-container .face .mark {
  display: block;
  width: 15px;
  height: 40px;
}
.poker-container .face .suit {
  width: 21px;
  height: 35px;
  text-align: center;
}
.poker-container .mark h1 {
  font-size: 17px;
  letter-spacing: -2px;
}
.poker-container .mark h2 {
  font-size: 20px;
  padding-left: 1px;
}
.poker-container .valA .suit,
.poker-container .valAone .suit {
  font-size: 100px !important;
  width: 110px;
  text-align: center;
  left: -2px;
  top: 10px;
}
.poker-container .valK .suit,
.poker-container .valQ .suit,
.poker-container .valJ .suit {
  font-size: 40px !important;
  width: 110px;
  text-align: center;
  left: -2px;
  top: 50px;
}
.poker-container .face span.suit:nth-child(n+1) {
  font-size: 30px;
  position: absolute;
}
.poker-container .val2 .suit:nth-child(2) {
  top: 3px;
  left: 44px;
}
.poker-container .val2 .suit:nth-child(3) {
  transform: rotate(180deg);
  top: 105px;
  left: 44px;
}
.poker-container .val3 .suit:nth-child(2) {
  top: 3px;
  left: 44px;
}
.poker-container .val3 .suit:nth-child(3) {
  top: 55px;
  left: 44px;
}
.poker-container .val3 .suit:nth-child(4) {
  transform: rotate(180deg);
  top: 112px;
  left: 44px;
}
.poker-container .val4 .suit:nth-child(2) {
  top: 3px;
  left: 20px;
}
.poker-container .val4 .suit:nth-child(3) {
  top: 3px;
  left: 70px;
}
.poker-container .val4 .suit:nth-child(4) {
  transform: rotate(180deg);
  top: 112px;
  left: 20px;
}
.poker-container .val4 .suit:nth-child(5) {
  transform: rotate(180deg);
  top: 112px;
  left: 70px;
}
.poker-container .val5 .suit:nth-child(2) {
  top: 3px;
  left: 20px;
}
.poker-container .val5 .suit:nth-child(3) {
  top: 3px;
  left: 70px;
}
.poker-container .val5 .suit:nth-child(4) {
  top: 56px;
  left: 44px;
}
.poker-container .val5 .suit:nth-child(5) {
  transform: rotate(180deg);
  top: 112px;
  left: 70px;
}
.poker-container .val5 .suit:nth-child(6) {
  transform: rotate(180deg);
  top: 112px;
  left: 20px;
}
.poker-container .val6 .suit:nth-child(2) {
  top: 3px;
  left: 20px;
}
.poker-container .val6 .suit:nth-child(3) {
  top: 3px;
  left: 70px;
}
.poker-container .val6 .suit:nth-child(4) {
  top: 56px;
  left: 20px;
}
.poker-container .val6 .suit:nth-child(5) {
  top: 56px;
  left: 70px;
}
.poker-container .val6 .suit:nth-child(6) {
  transform: rotate(180deg);
  top: 112px;
  left: 20px;
}
.poker-container .val6 .suit:nth-child(7) {
  transform: rotate(180deg);
  top: 112px;
  left: 70px;
}
.poker-container .val7 .suit:nth-child(2) {
  top: 3px;
  left: 20px;
}
.poker-container .val7 .suit:nth-child(3) {
  top: 3px;
  left: 70px;
}
.poker-container .val7 .suit:nth-child(4) {
  top: 28px;
  left: 44px;
}
.poker-container .val7 .suit:nth-child(5) {
  top: 56px;
  left: 20px;
}
.poker-container .val7 .suit:nth-child(6) {
  top: 56px;
  left: 70px;
}
.poker-container .val7 .suit:nth-child(7) {
  transform: rotate(180deg);
  top: 112px;
  left: 20px;
}
.poker-container .val7 .suit:nth-child(8) {
  transform: rotate(180deg);
  top: 112px;
  left: 70px;
}
.poker-container .val8 .suit:nth-child(2) {
  top: 3px;
  left: 20px;
}
.poker-container .val8 .suit:nth-child(3) {
  top: 3px;
  left: 70px;
}
.poker-container .val8 .suit:nth-child(4) {
  top: 28px;
  left: 44px;
}
.poker-container .val8 .suit:nth-child(5) {
  top: 56px;
  left: 20px;
}
.poker-container .val8 .suit:nth-child(6) {
  top: 56px;
  left: 70px;
}
.poker-container .val8 .suit:nth-child(7) {
  transform: rotate(180deg);
  top: 82px;
  left: 44px;
}
.poker-container .val8 .suit:nth-child(8) {
  transform: rotate(180deg);
  top: 112px;
  left: 70px;
}
.poker-container .val8 .suit:nth-child(9) {
  transform: rotate(180deg);
  top: 112px;
  left: 20px;
}
.poker-container .val9 .suit:nth-child(2) {
  top: 3px;
  left: 20px;
}
.poker-container .val9 .suit:nth-child(3) {
  top: 3px;
  left: 70px;
}
.poker-container .val9 .suit:nth-child(4) {
  top: 58px;
  left: 44px;
}
.poker-container .val9 .suit:nth-child(5) {
  top: 39px;
  left: 20px;
}
.poker-container .val9 .suit:nth-child(6) {
  top: 39px;
  left: 70px;
}
.poker-container .val9 .suit:nth-child(7) {
  transform: rotate(180deg);
  top: 76px;
  left: 20px;
}
.poker-container .val9 .suit:nth-child(8) {
  transform: rotate(180deg);
  top: 76px;
  left: 70px;
}
.poker-container .val9 .suit:nth-child(9) {
  transform: rotate(180deg);
  top: 112px;
  left: 20px;
}
.poker-container .val9 .suit:nth-child(10) {
  transform: rotate(180deg);
  top: 112px;
  left: 70px;
}
.poker-container .val10 .suit:nth-child(2) {
  top: 3px;
  left: 20px;
}
.poker-container .val10 .suit:nth-child(3) {
  top: 3px;
  left: 70px;
}
.poker-container .val10 .suit:nth-child(4) {
  top: 21px;
  left: 44px;
}
.poker-container .val10 .suit:nth-child(5) {
  top: 39px;
  left: 20px;
}
.poker-container .val10 .suit:nth-child(6) {
  top: 39px;
  left: 70px;
}
.poker-container .val10 .suit:nth-child(7) {
  transform: rotate(180deg);
  top: 76px;
  left: 20px;
}
.poker-container .val10 .suit:nth-child(8) {
  transform: rotate(180deg);
  top: 76px;
  left: 70px;
}
.poker-container .val10 .suit:nth-child(9) {
  transform: rotate(180deg);
  top: 94px;
  left: 44px;
}
.poker-container .val10 .suit:nth-child(10) {
  transform: rotate(180deg);
  top: 112px;
  left: 20px;
}
.poker-container .val10 .suit:nth-child(11) {
  transform: rotate(180deg);
  top: 112px;
  left: 70px;
}
.poker-container .card,
.poker-container .face,
.poker-container .back,
.poker-container .deck {
  border-radius: 4px;
}
.poker-container .card {
  width: 110px;
  height: 150px;
  display: inline-block;
  position: relative;
  font-size: 0.8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.poker-container .back,
.poker-container .deck {
  background-color: #6d695c;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 70px 120px;
}
.poker-container .card .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.poker-container .card.flip .back {
  z-index: 900;
  border-color: #eee;
  transform: rotateY(180deg);
}
.poker-container .card .face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: #fff;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.poker-container .card.flip .face {
  z-index: 1000;
  background: #fff;
  transform: rotateX(0deg) rotateY(0deg);
}